*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#8d882c), url(images/banner4.jpg);
/* very imp point  */
    background-size: cover;
    background-position: center;
    height: 100vh;
}


/* logo in first section */
.logo{
    width: 160px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner_text{
    text-align: center;
    padding-top: 180px;
    color: white;
}

.banner_text h1{
    font-size: 140px;
    font-family: 'Kaushan Script', cursive;
}

.banner_text p{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.banner_btn{
    margin: 70px auto 0;
}

.banner_btn a{
    width: 130px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    border: 2px solid white;
    margin: 0 10px;
    padding: 12px 0px;
    position: relative;
    /* to make a comes above
     the span and span goes below a */
    z-index: 1; 
    transition: color 0.5s;
}


.banner_btn a span
{
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}

.banner_btn a:hover span
{
    width: 100%;
}

.banner_btn a:hover
{
    color: black;
    font-weight: bold;
}


/* navigation bar */
#navigation{
    /* very important positioning */
    position: fixed;
    top: 0;
    right: -200px;
    background: #8d882c;
    height: 100vh;
    width: 200px;
    z-index: 2;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
    
    
}

nav ul li a{
    text-decoration: none;
  color: white;
  font-weight: bold;
}

#menubtn{
    /* veryimportant positioning */
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 3;
    width: 50px;
    height: 50px;
    background: #8d882c;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
#menubtn img{
    width: 20px;
    margin: 15px;
}

/* very important making it mobile friendly */

@media screen and (max-width: 770px) {

    .banner_text p{
        font-size: 20px;
      
    }
    
.banner_text h1{
    font-size: 44px;
    font-family: 'Kaushan Script', cursive;
}

.banner_btn a{
    display: block;
    /* auto is used to align it at the center of the screen */
    margin: 20px auto;
}

}

/* features */
#feature{
    width: 100%;
    padding: 50px 0;
}

.title_text{
    text-align: center;
}

.title_text h1{
    font-size: 50px;
    margin-bottom: 50PX;
    margin-top: 50PX;
}

.title_text p{
    font-size: 20px;
    margin: auto;
    color: #8d882c;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.feature_box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

 .features{
    flex-basis:50%;
 }

 .features_img{
    flex-basis:50%;
    margin: auto;
 }

 .features_img img{
    width: 70%;
    border-radius: 10px;
 }

 .features h1{
text-align: left;
margin-bottom: 10px;
font-weight: 100;
color: #8d882c;
font-weight: bold;
 }

 .features_desc{
display: flex;
align-items: center;
margin-bottom: 40px;
 }

.features_icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #8d882c;
    border: 1px solid #8d882c;
}

.features_text p{
padding: 0 20px;
font-weight: bold;
text-align: initial;
}

@media screen and  (max-width:700px){
     
    .title_text h1{
        font-size: 35px;
    }
    .features{
        flex-basis:100%;
     } 
     .features_img{
        flex-basis:100%;
     }
     .features_img img{
        width: 100%;
     }
     .features_text p{
      text-align: justify;
        }
}
/* features */


/* services */
#services{
    width: 100%;
    padding: 50px 0;
    background: #efefef;
}
.service_box{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    
}
.single_service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 30px;
    color: white;
    position: relative;
}
.single_service h2{

    color: black;
   
}
.single_service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#8d882c);
    opacity: 0;
    transition: 1s;
}
.single_service:hover .overlay{
    opacity: 1;
}
.service_desc{
    font-size: 2rem;;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
}
.service_desc p{
    font-weight: bold;
    font-size: 14px;
}
.single_service:hover .service_desc{
bottom: 40%;
opacity: 1;
}
@media screen and  (max-width:700px){
    .single_service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service_desc p{
        
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single_service:hover .service_desc{
        bottom: 25% !important;
       
        }
}
/* services */

/* feedback */
#feedback{
    width: 100%;
    padding: 70px 0;
}
.feedback_row{
    width: 80%;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.feedback_col{
    flex-basis: 28%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px 3px #00968814;   
    cursor: pointer; 
   transition: transform 0.5s;
}
.feedback_col p{
    font-weight: bold;
    text-align: justify;
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 4px;
}
.user_info .fa-brands{
margin-left: 8px;
color: #8d882c;
font-size: 20px;
}
.user_info small{
    color: #8d882c;
    font-weight: bold;
}
.feedback_col:hover{
    transform: translateY(-10px);
}
@media screen and (max-width:700px){
    .feedback_col{
        flex-basis: 100%;
    }
    .feedback_row{
  
        margin: 30px auto;
     
       
  
    }
}
/* feedback */





/* footer */
#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer_row{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_left, .footer_right{
flex-basis: 45%;
padding: 10px;
margin-bottom: 20px;
font-weight: bold;
}
.footer_right{
    text-align: right;
}
.footer_row h1{
margin: 10px 0;
}
.footer_row p{
  line-height: 31px;
    }
    .footer_left .fa, .footer_right .fa{ 
font-size: 20px;
color: #8d882c;
margin: 15px;
    }
.footer_img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social_media{
    text-align: center;

}
.social_media .fa-brands{
  height: 40px;
  width: 40px;
  font-size: 20px;
  /* very imp */
  line-height: 40px;
  color: #8d882c;
  border: 1px solid #8d882c;
  margin: 5px;
  cursor: pointer;
  transition: 0.5s;
    
}

.social_media .fa-brands:hover{
background-color: #8d882c;
color: white;
/* very important it is making icon move up just on hover */
transform: translateY(-10px);
}
.social_media p{
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

@media screen and (max-width:700px){

    .footer_left, .footer_right{
        flex-basis: 100%;
        font-size: 13px;
    }



}

/* footer */
html{
    /* very important for navigation links running smoothly */
    scroll-behavior: smooth;
}